extends layouts/login-layout.pug

block content
    .loginContainer
        h1 Login
        form(method="post")

            p.errorMessage #{errorMessage}

            //- client side validation
            //- input(type="text", name="logUsername", placeholder="Username or email", value=logUsername required="")
            //- input(type="password", name="logPassword", placeholder="Password", required="")
            
            //- server side validation
            input(type="text", name="logUsername", placeholder="Username or email", value='tiankaiy' required="")
            input(type="password", name="logPassword", placeholder="Password", value='123456', required="")

            input(type="submit", value="Login")
        a(href="/register") Need an account? Register here.